.container {
    margin-left: 25%;
    margin-right: 25%;
}

.busca-contato {
    width: 49.5vw;
}

.menu-contatos {
    margin: 0% 0% 10.5% 0%
}

.validacao-dados {
    margin-top: 1.5%;
}

.barra-busca {
    margin-bottom: 1.5%;
}

.p-autocomplete-multiple {
    margin-bottom: 5% !important;
}